
h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2em;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    width: 30%;
    margin-bottom: 2em;
}

.project-name input,
.date input,
.description input,
textarea {
    width: 100%;
    padding: 1em;
    resize: none;
    margin-bottom: 2em;
    border: none;
    border-radius: 0.5em;
    margin-top: 0.5em;
}

.main-container form label {
    font-weight: 600;
}

.date {
    display: flex;
    justify-content: center;
}

.date .start-date {
    width: 50%;
}

.date .start-date {
    margin-right: 3em;
}

.date .end-date {
    width: 50%;
}

.container-technologies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}


.container-technologies .tech .framework {
    margin-bottom: 1em;
}

.main-container form .container-technologies label {
    font-weight: 400;
}

.main-container form .input-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 106%;
    cursor: pointer;
}

.main-container form .input-file span {
    background-color: #e4e4e4;
    padding: 0.5em;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow:0.5px 0.5px 0.5px 0.5px #888;
    border: none;
    font-weight: 400;
}

.main-container form .input-file i {
    font-size: 1.5em;
    margin-right: 1em;
    color: #00000074 ;
}

.main-container form button {
    padding: 0.5em 1.5em ;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: orangered;
    cursor: pointer;
}

.main-container form .btn-submit {
    display: flex;
    width: 106%;
    justify-content: end;
}
.main-container form button:hover {
    background-color: rgb(239, 64, 0);
}

/* Blog Result */

.card-result {
    margin-bottom: 2em;
}

#content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.container-card {
    width: 25vw;
    margin: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.container-card img {
    width: 100%;
    border-radius: 0.5em;
    height: 30vh;
    object-fit: cover;
}

.container-card p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-card .programming-language i {
    font-size: 1.7em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.container-card .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card .btn-group button {
    width: 100%;
    margin: 1em;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em 0;
    background-color: black;
    color: white;
}

.container-card .btn-group button:hover {
    background-color: orangered;
    cursor: pointer;
}

hr {
    border: 1px solid #888;
}


