body {
  background-color: white;
}

h1 {
  margin-top: 1em;
  font-size: 2em;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
}

input,
textarea,
select,
option {
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 1em;
  padding: 1em;
  margin-top: 0.5em;
  border: none;
  box-shadow: 0.5px 0.5px 1px 1px #888;
}

select {
  width: 105%;
}

label {
  font-size: 1.1em;
  font-weight: 600;
}

.btn-summit {
  width: 105%;
  display: flex;
  justify-content: end;
}

button {
  padding: 0.7em 1.5em;
  border-radius: 1.5em;
  margin-bottom: 2em;
  border: none;
  box-shadow: 0.5px 0.5px 1px 1px #888;
  background-color: white;
}

button:hover {
  background-color: orangered;
  color: white;
}

.nav-right .active {
  background-color: orangered;
}
