h1 {
  margin-top: 1em;
  font-size: 2em;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
}

input,
textarea,
select,
option {
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 0.5em;
  border: none;
  resize: none;
}

select {
  width: 104%;
}

label {
  font-size: 1.1em;
  font-weight: 600;
}

.btn-submit {
  width: 104%;
  display: flex;
  justify-content: end;
}

.btn-submit button {
  padding: 0.7em 1.5em;
  border-radius: 1.5em;
  margin-bottom: 2em;
  border: none;
  background-color: #116A7B;
  color: #fff;
  cursor: pointer;
}

.btn-submit button:hover {
  background-color: rgb(22, 143, 167);
  color: white;
}

.nav-right .active {
  background-color: #116A7B;
}

@media only screen and (max-width : 578px) {
    html {
      font-size: 80%;
    }

    form {
      width: 60%;
    }
}

  