@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background-color: #dddddd;
  width: 100%;
}

/* navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d1d1d1;
  padding: 1em;
}

.nav-left ul {
  display: flex;
  align-items: center;
}

.nav-left li img {
  width: 3vw;
}

.nav-left li {
  list-style-type: none;
  margin-right: 2em;
}
.nav-left li a {
  text-decoration: none;
  color: black;
}

.nav-left li a:hover {
  color: orangered;
  font-weight: 900;
}

.nav-left li .active {
  color: orangered;
}

.nav-right a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.5em 1em;
  border-radius: 1.5em;
}

.nav-right a:hover {
  background-color: orangered;
}

/* Content */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 60%;
  /* -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777; */
  padding: 5em;
  margin: 1em 0;
  border-radius: 0.5em;
  background-color: white;
  display: flex;
}

.left {
  flex: 1;
}
.right {
  flex: 1;
}

h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

.card-container p {
  margin-bottom: 2em;
}

.btn-contact {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.5em 1.3em;
  border-radius: 2em;
}

.btn-contact:hover {
  background-color: orangered;
}

.group {
  display: flex;
  align-items: center;
  margin-top: 2em;
}

.group span {
  margin-right: 1em;
}

.group a i {
  color: black;
  font-size: 1.3em;
}

.social-media {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.5em;
}

.social-media i {
  margin-right: 1em;
  font-size: 2em;
  color: black;
}

.social-media i:hover {
  color: orangered;
}

.group i:hover {
  color: orangered;
}

.card-profile {
  width: 80%;
  height: 100%;
  box-shadow: 2px 2px 2px 2px #888;
  margin: auto;
  text-align: center;
  padding-bottom: 0.5em;
  border-radius: 0.3em;
  transition-duration: 0.2s;
  transition-property: transform;
}

.card-profile:hover {
  transform: scale(1.1);
}

.card-profile img {
  width: 100%;
  border-radius: 0.3em 0.3em 0 0;
  height: 80%;
  object-fit: cover;
}

.card-profile p {
  margin-top: 1em;
}
