h1 {
  margin-top: 3em;
  text-align: center;
  font-size: 3em;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}

.testimonial {
  width: 25%;
  margin: 1em;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial .profile-testimonial {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.quote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  text-align: right;
}

/* Button Rating */
.container-rating {
  text-align: center;
}

h2 {
  font-size: 2em;
}

.rating button {
  margin: 1em;
  padding: 0.5em 1em;
  background-color: #fff;
  border: none;
  font-size: 1em;
  border-radius: 0.2em;
  cursor: pointer;
}

.rating button:hover {
  background-color: rgb(22, 143, 167);
  color: #fff;
}

.rating button i {
  color: #116a7b;
}

.rating button i:hover{
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .testimonial {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .testimonial {
    width: 80%;
  }
}
